body {
    margin: 0;
}
#toprow {
    display: flex;
    align-items: flex-start;
    padding: 6px;
    height: 109px;
}
#topleft {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
    height: 34px;
}
#topright {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}
#pfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#icon:hover {
    color: rgb(175, 175, 175);
}
.textlink {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 14px;
}
.textlink:link {
    text-decoration: none;
}
.textlink:hover {
    text-decoration: underline;
}
#middle {
    display: flex;
    height: 553px;
    align-items: flex-start;
    justify-content: center;
}
#google {
    display: flex;
    justify-content: center;
}
input {
    width: 500px;
    height: 35px;
    border: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    outline: none;
}
#searchbar {
    border: 1px solid #dfe1e5;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 30px;
}
#searchbar:hover {
    box-shadow: 1px 1px 5px 1px #dcdcdd;
}
#searchbar:focus-within {
    box-shadow: 1px 1px 5px 1px #dcdcdd;
}
#searchimg {
    height: 20px;
    width: 20px;
    padding: 10px;
}
#mic {
    height: 20px;
    padding: 10px;
}
button {
    margin: 0 5px;
    padding: 0 5px;
    height: 36px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    color: #3c4043;
    background-color: #f8f9fa;
}
button:hover {
    border: 1px solid #e3e4e7;
}
.googlo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}
#bottomrow {
    display: flex;
    align-items: flex-start;
    padding: 6px;
}
#bottomleft {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
    height: 40px;
}
#bottomright {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    height: 40px;
}
.navlink {
    padding: 8px;
}
.bottomlink {
    color: #70757a;
}