body {
    margin: 0;
}
#toprow {
    display: flex;
    align-items: flex-start;
    padding: 6px;
    height: 109px;
}
#topleft {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}
#topright {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}
#pfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#icon {
    width: 30px;
    height: 30px;
}
.textlink {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 14px;
}
.textlink:link {
    text-decoration: none;
}
.textlink:hover {
    text-decoration: underline;
}
#middle {
    display: flex;
    height: 553px;
    align-items: flex-start;
    justify-content: center;
}
.googlo {
    display: flex;
    justify-content: center;
}
#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}
#bottomrow {
    display: flex;
    align-items: flex-start;
    padding: 6px;
}
#bottomleft {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
    height: 40px;
}
#bottomright {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    height: 40px;
}